CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="configs/boards/esp32c3_supermini/partitions.csv"
CONFIG_PARTITION_TABLE_FILENAME="configs/boards/esp32c3_supermini/partitions.csv"

CONFIG_MBEDTLS_X509_TRUSTED_CERT_CALLBACK=y
CONFIG_MBEDTLS_CERTIFICATE_BUNDLE_CROSS_SIGNED_VERIFY=y

CONFIG_ESPTOOLPY_HEADER_FLASHSIZE_UPDATE=y
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="4MB"

CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG=y
CONFIG_ESP_CONSOLE_SECONDARY_NONE=y
CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG_ENABLED=y
CONFIG_ESP_CONSOLE_UART_NUM=-1
CONFIG_ESP_CONSOLE_ROM_SERIAL_PORT_NUM=4

CONFIG_ESP32QJS_JS_HEAP_SIZE=98304
CONFIG_ESP32_MQUICKJS_BOARD_NAME="ESP32-C3 SuperMini"
CONFIG_ESP32_MQUICKJS_USER_LED_PIN=8
CONFIG_ESP32_MQUICKJS_USER_LED_ACTIVE_LOW=y
