CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="configs/boards/xiao_esp32s3/partitions.csv"
CONFIG_PARTITION_TABLE_FILENAME="configs/boards/xiao_esp32s3/partitions.csv"

CONFIG_MBEDTLS_X509_TRUSTED_CERT_CALLBACK=y
CONFIG_MBEDTLS_CERTIFICATE_BUNDLE_CROSS_SIGNED_VERIFY=y

CONFIG_ESPTOOLPY_HEADER_FLASHSIZE_UPDATE=y
CONFIG_ESPTOOLPY_FLASHSIZE_8MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="8MB"

CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG=y
CONFIG_ESP_CONSOLE_SECONDARY_NONE=y
CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG_ENABLED=y
CONFIG_ESP_CONSOLE_UART_NUM=-1
CONFIG_ESP_CONSOLE_ROM_SERIAL_PORT_NUM=4

CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_OCT=y
CONFIG_SPIRAM_TYPE_AUTO=y
CONFIG_SPIRAM_CLK_IO=30
CONFIG_SPIRAM_CS_IO=26
CONFIG_SPIRAM_SPEED_80M=y
CONFIG_SPIRAM_SPEED=80
CONFIG_SPIRAM_BOOT_HW_INIT=y
CONFIG_SPIRAM_BOOT_INIT=y
CONFIG_SPIRAM_PRE_CONFIGURE_MEMORY_PROTECTION=y
CONFIG_SPIRAM_USE_MALLOC=y
CONFIG_SPIRAM_MEMTEST=y
CONFIG_SPIRAM_MALLOC_ALWAYSINTERNAL=16384
CONFIG_SPIRAM_MALLOC_RESERVE_INTERNAL=32768

CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_240=y
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ=240

CONFIG_ESP32QJS_JS_HEAP_SIZE=4194304

CONFIG_ESP32_MQUICKJS_BOARD_NAME="Seeed XIAO ESP32-S3"
CONFIG_ESP32_MQUICKJS_FEATURE_FS=y
CONFIG_ESP32_MQUICKJS_FEATURE_GPIO=y
CONFIG_ESP32_MQUICKJS_FEATURE_LEDC=y
CONFIG_ESP32_MQUICKJS_FEATURE_ADC=y
# ESP32-S3 has no hardware DAC support.
CONFIG_ESP32_MQUICKJS_FEATURE_DAC=n
CONFIG_ESP32_MQUICKJS_FEATURE_I2C=y
CONFIG_ESP32_MQUICKJS_FEATURE_SPI=y
CONFIG_ESP32_MQUICKJS_FEATURE_UART=y
CONFIG_ESP32_MQUICKJS_FEATURE_WIFI=y
CONFIG_ESP32_MQUICKJS_FEATURE_HTTP=y
CONFIG_ESP32_MQUICKJS_FEATURE_HTTP_SERVER=y
CONFIG_ESP32_MQUICKJS_SPI_DEFAULT_SCLK_PIN=7
CONFIG_ESP32_MQUICKJS_SPI_DEFAULT_MOSI_PIN=9
CONFIG_ESP32_MQUICKJS_SPI_DEFAULT_MISO_PIN=8
CONFIG_ESP32_MQUICKJS_SPI_DEFAULT_CS_PIN=-1
CONFIG_ESP32_MQUICKJS_UART_DEFAULT_PORT=1
CONFIG_ESP32_MQUICKJS_UART_DEFAULT_TX_PIN=43
CONFIG_ESP32_MQUICKJS_UART_DEFAULT_RX_PIN=44
